<?xml version="1.0" encoding="utf-8" ?>
<configuration>   
     
    <system.web>
      <compilation defaultLanguage="c#" debug="true" />
    </system.web>
    
    <!-- Woah... These are stored in a file that can be view / crawled in GitHub and they're too short! -->
    <appSettings>
      <add key="APIKey" value="ab7388a361236dbccebd" />
      <add key="Secret" value="8a6fbde999a8b12a8352" />
    </appSettings>
 
</configuration>
